<?xml version="1.0"?>

<model>
  <name>Warehouse Wall</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chang-Hong Chen</name>
    <email>longhongc@gmail.com</email>
  </author>

  <description>
      A wall for setting boundaries of a warehouse.
  </description>

</model>
